<section id="security" class="container text-light">
  <app-config-navs></app-config-navs>
  <h2 class="h2 my-3 font-weight-normal text-center">Seguridad e inicio de sesión</h2>
  
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center no-gutters">
      <div class="col-10 col-sm-9 col-md-6 col-lg-5 col-xl-4 align-self-center">
        <h4 class="h4 my-3 text-center" *ngIf="!isReLogged">Para continuar ingresa tu clave</h4>
        <h4 class="h4 my-3 text-center" *ngIf="isReLogged">Ingresa tu nueva contraseña</h4>
        <form #formSecurity="ngForm">
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            {{msgError}}
          </div>
          <div class="form-group row justify-content-center align-items-center">
            <i class="fa fa-user mx-3"></i>
            <input type="text" name="username" readonly class="form-control col-9 col-sm-8 col-md-9 col-lg-8 col-xl-8" placeholder="" [(ngModel)]="user.email">
          </div>
          <div class="form-group row justify-content-center align-items-center" *ngIf="!isReLogged && havePass">              
            <i class="fa fa-lock mx-3"></i>
            <input type="password" name="userpassword" class="form-control col-9 col-sm-8 col-md-9 col-lg-8 col-xl-8" placeholder="Contraseña" [(ngModel)]="user.password" required
              minlength="8">
          </div>
          <div class="form-group row justify-content-center align-items-center" *ngIf="isReLogged || !havePass">              
            <i class="fa fa-lock mx-3"></i>
            <input type="password" name="password" class="form-control col-9 col-sm-8 col-md-9 col-lg-8 col-xl-8" placeholder="Nueva Contraseña" [(ngModel)]="password" required
              minlength="8">
          </div>
          <div class="form-group row justify-content-center align-items-center" *ngIf="isReLogged || !havePass">              
            <i class="fa fa-lock mx-3"></i>
            <input type="password" name="confirmPassword" class="form-control col-9 col-sm-8 col-md-9 col-lg-8 col-xl-8" placeholder="Confirmar contraseña" [(ngModel)]="confirmPassword" required
              minlength="8">
          </div>
          <div class="form-group" *ngIf="!isReLogged && havePass">
            <button class="mt-2 mb-2 btn btn-primary btn-block" (click)="onContinue()"><i class="fa fa-chevron-right"></i> Continuar</button>
          </div>
          <div class="form-group" *ngIf="!havePass">
            <button class="mt-2 mb-2 btn btn-primary btn-block" (click)="onAddPass()">Guardar contraseña</button>
          </div>
          <div class="form-group" *ngIf="isReLogged">
            <button class="mt-2 mb-2 btn btn-primary btn-block" data-toggle="modal" data-target="#confirmChange"><i class="fa fa-chevron-right"></i> Guardar</button>
          </div>
        </form>
      </div> 
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="confirmChange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-primary">
          ¿Estas seguro de cambiar la contraseña?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-success" (click)="onSave()" data-dismiss="modal">Si, cambiar</button>
        </div>
      </div>
    </div>
  </div>

</section>