
<div class="h1 text-center text-white my-3">Registrar Subasta</div>

<div class="container my-3">
  <div class="row justify-content-center">
    <form class="text-white col-sm-12 col-md-10 col-lg-8">
      <fieldset>
        <!-- <legend>Legend</legend> -->
        <div class="form-group row">
          <label for="plantname" class="col-sm-4 col-form-label">Nombre de la planta</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="plantname" placeholder="Nombre de la planta" name="plantname" [(ngModel)]="plant.name">
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Tipo de planta</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tipo de la planta" name="planttype" [(ngModel)]="plant.type">
          </div>
        </div>
        <div class="form-group">
          <label for="plantdescription">Descripción</label>
          <textarea class="form-control" id="plantdescription" rows="7" name="plantdescription" [(ngModel)]="plant.description"></textarea>
        </div>
        <div class="form-group justify-content-center">
          <label for="InputFile">Seleccionar Imagen</label>
          <input type="file" class="form-control-file" id="InputFile" name="uploadedfile" accept="image/png, image/jpeg" (change)="onChange($event)">
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/auctions" (click)="uploadData()">Guardar</button>
      </fieldset>
    </form>
  </div>
</div>