<section id="register" class="mb-3 mt-3">
  <h1 class="h1 mb-3 font-weight-normal text-uppercase text-center">Registrate</h1>
  <div class="container">
    <div class="row-auto">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <form #formRegister="ngForm" >
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            {{msgError}}
          </div>
          <div class="form-group">
            <label><i class="fa fa-user"></i> Nombre de usuario</label>
            <input type="text" name="username" class="form-control" placeholder="" [(ngModel)]="user.user_name" required minlength="4"
              maxlength="40">
          </div>

          <!-- <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
            <div *ngIf="name.errors.required">Nombre es requerido</div>
            <div *ngIf="name.errors.minlength">Nombre debe tener al menos 4 caracteres</div>
          </div> -->
          <div class="form-group">              
            <label><i class="fa fa-envelope"></i> Email</label>
            <input type="email" name="email" class="form-control" placeholder="" [(ngModel)]="user.useremail" required
              minlength="8">
          </div>
          <!-- <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">Email es requerido</div>
            <div *ngIf="email.errors.minlength">Email debe tener al menos 8 caracteres</div>
          </div> -->
          <div class="form-group">
            <label><i class="fa fa-key"></i> Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="" [(ngModel)]="user.userpassword"
              required minlength="5" maxlength="10">
          </div>
          <!-- <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">Contraseña es requerido</div>
            <div *ngIf="password.errors.minlength">Contraseña debe tener al menos 5 caracterres</div>
          </div> -->
          <div class="form-group">
            <label><i class="fa fa-key"></i> Confirmar Contraseña</label>
            <input type="password" name="confirmpassword" class="form-control" placeholder="" [(ngModel)]="confirmpassword"
              required minlength="5" maxlength="10">
          </div>
          <!-- <div class="alert alert-danger" role="alert" *ngIf="confirmpassword.touched && !confirmpassword.valid">
            <div *ngIf="password.errors.required">Contraseña es requerido</div>
            <div *ngIf="password.errors.minlength">Contraseña debe tener al menos 5 caracterres</div>
          </div> -->
          <div class="form-group d-flex justify-content-between">
            <button class="m-1 btn btn-danger btn-block" (click)="onCancel()">Cancelar</button>
            <button type="submit" class="m-1 btn btn-success btn-block"  (click)="onAddUser()">Registrar</button>
            <!-- <ng-template>
              <button type="submit" class="m-1 btn btn-success btn-block"  (click)="onAddUser()">Registrar</button>
            </ng-template> -->
          </div>
          <div class="form-group">
            <button class="mt-2 mb-2 btn btn-danger btn-block" (click)="onAddUserGoogle()"><i class="fa fa-google"></i> Google</button>
          </div>
          <div class="form-group">
            <a routerLink="/user/login" class="form-control login-user">Ya tienes una cuenta?</a>
          </div>
        </form>
      </div> 
    </div>
  </div>
</section>