<section id="login" class="my-4">
  <div class="container text-light">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 align-self-center">
        <img src="assets/imageLogin.jpg" class="embed-responsive rounded" alt="login image">
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 align-self-center">
        <form #formLogin="ngForm">
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            {{msgError}}
          </div>
          <div class="form-group">
            <label><i class="fa fa-user"></i> Usuario/Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="" [(ngModel)]="user.useremail" required>
          </div>
          <div class="form-group">
            <label><i class="fa fa-key"></i> Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="" [(ngModel)]="user.userpassword"
              required>
          </div>
          <div class="form-group">
            <a routerLink="/user/passwordforgot" class="text-right text-light">He olvidado mi contraseña</a>
          </div>
          <div class="form-group">
            <button type="submit" class="mt-2 mb-2 btn btn-primary btn-block" (click)="onLogin()">Iniciar Sesión</button>
          </div>
          <div class="form-group">
            <button class="mt-2 mb-2 btn btn-danger btn-block" (click)="onLoginGoogle()"><i class="fa fa-google"></i> Google</button>
          </div>
          <div class="form-group">
            <a routerLink="/user/register" class="login-user text-light">Eres nuevo en Gardeon Trueque?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>