<div class="container">
  <div class="h1 text-center text-white">Mis publicaciones</div>
  <div class="row justify-content-end align-items-center mx-1 my-2">
    <a class="btn btn-primary" routerLink="/newPost" routerLinkActive="active">Nuevo Anuncio</a>
  </div>
  <div *ngIf="haveAds" class="h2 text-center text-white">No hay resultados</div>
  <ul *ngFor="let ad of ads; index as ad" class="list-group">
    <li class="list-group-item my-1">
      <div class="card border-success">
        <div class="row no-gutters">
          <div class="col-3 col-lg-2 justify-content-center">
            <img src="{{ad.plant.image}}" class="card-img" alt="...">
          </div>
          <div class="col-6 col-lg-8">
            <div class="card-body align-items-center">
              <div class="d-flex justify-content-between">
                <a routerLink="/info-post/{{ad.id}}" class="text-decoration-none">
                  <h5 class="card-title">{{ad.plant.name}}</h5>
                  <p class="card-text"><small class="text-muted">{{ad.plant.type}}</small></p>
                </a>
              </div>
              <p class="card-text">{{ad.plant.description}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-3 col-lg-2">
            <button class="btn btn-primary my-2 my-lg-5 mx-1" routerLink="/editPost/{{ad.id}}">Editar</button>
            <button class="btn btn-danger my-2 my-lg-5 mx-1" (click)="deleteAd(ad.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
